<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Singer" value="林俊杰" />
	</appSettings>
	<connectionStrings>
		<add name="misicName" connectionString="交换余生" />
	</connectionStrings>
</configuration>